    /***********/
    /* GENERAL */
    /***********/

*{
    text-align: center;
    color: white;
    text-shadow: 2px 2px black; 
}

.container {
    margin: 0 auto;
    width: 80vw;
}

    /************/
    /* CAROUSSEL*/
    /************/

.logo {
    position: relative;
    top: 80px;
    left: 2%;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius:100%;
}
.caroussel {
    height: 350px;
    background-color: red;
    margin: 3vh 5vw;
}

    /**********/
    /* NAVBAR */
    /**********/

.menu {
    background-color: black;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}
.menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}
.menu ul li {
    height: 50px;
    padding: auto 0;
}
.menu ul li a {
  
}

    /**************/
    /* Page Index */
    /**************/

.info-cal {
    margin: 3vh 0;
    display: flex;
    flex-direction: row;
}

.information{
    width: 65%;
    height: 450px;
    background-color: blueviolet;
    margin-right: 3vw;
}

#image-info {
    width: 35%;
    height: 35%;
    float: left;
}

.calendrier{
    width: 35%;
    height: 450px;
    background-color: blue;
}

#imgCalendrier{
    width:100%;
    height: 35%;
}

    /*****************/
    /**Page*Creation**/
    /*****************/

.colonne{
    display:flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sections {
    width: 70%;
}

.sections p {
    margin:0;
}

.section-un {
    height: 190px;
    background-color: green;
    margin-bottom: 10px;
}
#Creation1{
    width:97%;
    height:155px;
    margin:1.7% 1.5% 0 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

#Creation1 img {
    width: 66%;
    height: 100%;
}

.section-deux {
    height: 190px;
    background-color: blue;
    margin-bottom: 10px;
}

#Creation2{
    width:97%;
    height:155px;
    margin:1.7% 1.5% 0 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Creation2 img {
    width: 66%;
    height: 100%;
}

.section-trois {
    height: 190px;
    background-color: green;
} 

#Creation3{
    width:97%;
    height:155px;
    margin:1.7% 1.5% 0 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Creation3 img {
    width: 66%;
    height: 100%;
}

    /**************/
    /*Menu Lateral*/
    /**************/

.menu-lateral {
    width: 20%;
    height: 600px;
}
.menu-lateral1 {
    background-color: black;
    height: 50%;
    margin-bottom: 10%;
}
.menu-lateral2 {
    background-color: black;
    height: 50%;
}
.menu-lateral > ul > li {
    float: left;
    list-style-type: none;
    position: relative;
}
.div-hover{
    opacity: 0;
}
#crea1:hover .div-hover{
    opacity: 1;
}

    /**********/
    /* FOOTER */
    /**********/

footer {
    width: 100%;
    height: 50px;
    background-color: grey;
    margin-bottom: 5vh;
}
